@import 'colors';

$border-radius: 25px;
$border-radius-10p: 10px;
$border-black: 1px solid black;
$border-dark-gray: 1px solid $dark-gray;
$border-light-gray: 1px solid $light-gray;
$border-orange: 1px solid $orange;
$border-green: 1px solid $green;