@import "variables";

.table-container {
  max-height: $content-max-height;
  overflow-y: auto;
}

.administrarTabs {
  overflow-y: scroll !important;
}

.administrarTabs .show {
  display: block;
}

.administrarTabs .hide {
  display: none;
}