@import 'variables';

.full-width { width: 100%;}
.full-height {height: 100%;}

.main-container {
  height: calc(100vh - 120px);
  background-color: $light-gray;
}

// Position
.relative {position: relative};
.absolute {position: absolute};

// Flex
.flex {display: flex;}
.flex-row {flex-direction: row;}
.flex-col {flex-direction: column;}
.flex-space-between {justify-content: space-between;}

// Margins
.autoalign {margin: 0 auto;}
.margin-5p {margin: 5px;}
.margin-5p-bottom {margin-bottom: 5px};
.margin-10p {margin: 10px};


// Backgrounds
.bg-color-light-gray {
  background-color: $light-gray;
}