@import 'variables';

.form-container {
  width: 35%;
  padding: 25px;
  border-radius: $border-radius;
  border: $border-black;

  .error-container {
    margin-bottom: 5px;
  }

  .title {
    text-align: center;
    font-weight: 700;
  }

  .login-button {
    width: 100%;
    color: white;
    font-weight: 400;
    border: none;

    &.ingresar {
      background-color: $green;
    }

    &.registrarse {
      background-color: $orange;
    }
  } 
}